body{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 213, 173);
    align-items: center;
    width: 100%;
    margin: 0;
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}
header{
    width: 100%;
}
#menu{
    display: flex;
    
    justify-content: space-around;
    background-color: rgb(202, 95, 1);
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.5s ease;
}

#menu li{
    display: flex;
    flex: 1;
    list-style: none;
    
    font-size: 20px;
    border-left: 1px solid rgb(245, 211, 179);
    
    height: 100%;
    text-align: center;
    padding: 10px 0;
    margin: 0;
    justify-content: center;
    align-items: center;
}

#menu li:first-child{
    border: 0;
}
#menu li:link{
    color:white;
}
#menu li:hover{
    background-color: rgb(255, 213, 173);
    
    border-bottom: 1px solid rgb(202, 95, 1);
    border-bottom: 1px solid rgb(202, 95, 1);
}
#menu li:hover a{
    color: rgb(202, 95, 1);
}
#menu li :visited{
    color: antiquewhite;
}