main{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    margin: 40px;
    color: rgb(202, 95, 1);
}

#pictureContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.pic{
    display: flex;
    flex-direction: column;
    
    width: 220px;
    overflow: hidden;
}
.pic img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    flex-shrink: 0;
    transition: all 0.3s ease;   
}

.pic img:hover{
    transform: scale(0.9);
    opacity: 0.8;
}
.pic p{
    padding: 10px;
    border: 1px solid rgb(202, 95, 1);
    color: rgb(202, 95, 1);
    text-align: center;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
}

.pic p:hover{
    background-color: rgb(202, 95, 1);
    color: rgb(255, 213, 173);
    border: 1px solid rgb(255, 213, 173);
}

@media (max-width: 850px){
    
    #pictureContainer{
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .pic{
        width: auto;
    }

}
